$color-denim: #1B75BB;
$color-black-pearl: #081F32;
$color-black-pearl_opaciyt6: rgba(8, 31, 50, .6);
$color-black-pearl_opaciyt7: rgba(8, 31, 50, .7);
$color-black-pearl_opaciyt8: rgba(8, 31, 50, .8);
$color-black-pearl_opaciyt9: rgba(8, 31, 50, .9);
$color-mercury: #E5E5E5;
$color-white: #FFFFFF;
$color-white_opacity: rgba(255, 255, 255, 0.21);
$color-concrete: rgba(226, 226, 226, 0.4);
$color-gray: #FCFCFD;
$color-mercury: rgba(0, 0, 0, 0.1);
$color-seashell:#f1f1f1;

$font-roboto400: 'Roboto 400';
$font-roboto500: 'Roboto 500';
$font-gelasio500: 'Gelasio 500';
$font-gelasio600: 'Gelasio 600';
$font-poppins400: 'Poppins 400';
$font-poppins500: 'Poppins 500';