.choose{
    &__heading{
      text-align: center;
        margin-bottom: 25px;
    }
    &__content{
        max-width: 819px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 60px;
    }

}

.catalog{
    &__column{
        width: 262px;
        height: 258px;
        text-align: center;
    }
    &__img{
        width: 74px;
    }
}