.holidays{
    margin-bottom: 220px;
    &__img1{
        max-width: 630px;
        top: 57px;
        left: -103px;
    }
    &__img2{
        max-width: 484px;
        margin-left: 100px;
    }
    &__play{
        width: 100px;
        top: 169px;
        left: 162px;
    }
    &__heading{
        max-width: 430px;
        margin-bottom: 31px;
    }
}

.wrap-right{
    margin-top: 80px;
    margin-left: 98px;
    margin-bottom: 31px;
    align-items: center;
}